[project]
	description = Serves as aggregation of webservices to support large scale development
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hans Meyer (HaMster21)
[access "refs/for/refs/*"]
	read = group user/Hans Meyer (HaMster21)
	push = group user/Hans Meyer (HaMster21)
	label-Code-Review = -2..+2 group user/Hans Meyer (HaMster21)
	label-Verified = -1..+1 group user/Hans Meyer (HaMster21)
	rebase = group user/Hans Meyer (HaMster21)
	removeReviewer = group user/Hans Meyer (HaMster21)
	submit = group user/Hans Meyer (HaMster21)
[access "refs/heads/*"]
	read = group user/Hans Meyer (HaMster21)
	create = group user/Hans Meyer (HaMster21)
	push = +force group user/Hans Meyer (HaMster21)
	pushMerge = group user/Hans Meyer (HaMster21)
[access "refs/tags/*"]
	push = +force group user/Hans Meyer (HaMster21)
	pushTag = group user/Hans Meyer (HaMster21)
	pushSignedTag = group user/Hans Meyer (HaMster21)
